.container {
    width: 1192px;
    margin: 0 auto;
}

caption {
    font-size: 24px;
    font-weight: 700;
}

.pricing-table {
    border: 15px solid #374765;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    /* border: 1px solid #d9d9d9;   */
    box-shadow: -5px 0px 5px -2px rgba(0, 0, 0, 0.27);
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
}

.heading {
    background-color:  #fafafa;
}

tr:nth-child(even) {
    background-color:  #e3e3e3;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.heading-text {
    font-family: 'Arimo', sans-serif;
    color:  #484848;
    font-weight: 700;
    text-align: center;
}

.text1 {
    font-size: 18px;
}

.text2 {
    font-size: 30px;
}

.pricing-type {
    font-family: 'Arimo', sans-serif;
    color:  #ffffff;
    font-weight: 700;
}

.plan-standart {
    font-size: 24px;
    background-color:  #89c331;
    padding: 20px 0;
}

.plan-ultimate {
    font-size: 30px;
    background-color:  #f04a56;
}

.plan-premium {
    font-size: 24px;
    background-color:  #20807c;
}

.price-for-pricing-type {
    font-family: 'Arimo', sans-serif;
    color:  #484848;
    background-color:  #fafafa;
    text-align: left;
    padding-left: 25px;
}

.price-dolars {
    position: relative;
    font-size: 60px;
    font-weight: 700;
}

.price-dolars::after {
    content: "PER MONTH";
    position: absolute;
    font-family: 'Arimo', sans-serif;
    color:  #484848;
    font-size: 18px;
    font-weight: 400;
    left: 109px;
    bottom: 12px;
}

.price-cents {
    font-size: 24px;
    font-weight: 700;
    vertical-align: top; 
}

.pricing-plan-category {
    height: 69px;
}

i {
    display: inline-block;
    text-decoration: none;
    color:  #848484;
    font-size: 24px;
    font-weight: 400;
} 

.category-text {
    display: inline-block;
    font-family: 'Arimo', sans-serif;
    color:  #484848;
    font-size: 16px;
    font-weight: 400;
    margin-left: 5px;
    position: relative;
}

.plan-for {
    font-family: 'Arimo', sans-serif;
    color:  #484848;    
    font-size: 16px;
    font-weight: 400;
}

.contacts-buy-buttons {
    display: inline-block;
    padding: 20px 0;
    text-decoration: none; 
}

tfoot td:hover {
    background-color: #dedede;
}

.btn-description {
    border-radius: 5px;
    width: 192px;
    height: 49px;
    font-family: 'Arimo', sans-serif;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 700;
}

.btn-description:hover {
    cursor: pointer;
}

.btn-cont-black {
    background-color:  #484848;
}

.btn-buy-green {
    background-color:  #89c331;
}

.btn-buy-red {
    background-color:  #f04a56;
}

.btn-buy-darkolive {
    background-color:  #20807c;
}